header {
  position: relative;
  overflow: hidden;
}

.top-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: #fff;
  z-index: 500;
  height: 81px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
}

body.home {
  header {
    height: 700px;
  }
}

body.page-template-page-apartman {
  header {
    height: 700px;
  }
}

.menu-holder {
  margin: auto;
  @include breakpoint(_1200) {
    position: static;
    margin: auto 45px auto auto;
  }
  @include breakpoint(_480) {
    margin: auto 10px auto auto;
  }
  li {
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    text-transform: uppercase;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  #menu-button {
    display: none;
    font-size: 30px;
    margin-right: 10px;
    @include breakpoint(_1200) {
      display: block;
    }
  }
  .main-nav {
    @include breakpoint(_1200) {
      display: none;
    }
  }
}

.right-holder {
  float: right;
  margin-right: 35px;
  @include breakpoint(_1200) {
    margin-left: auto;
    margin-right: 15px;
  }
}

.left-holder {
  position: absolute;
  left: 0;
  top: 11px;
}

.header-logo {
  @include background-image-retina(logo, png, 48px, 59px);
  width: 48px;
  height: 59px;
  background-size: 48px 59px;
  margin-left: 45px;
  @include breakpoint(_480) {
    margin-left: 20px;
  }
}

.header-img {
  position: relative;
  max-height: 600px;
  min-height: 300px;
  &:after {
    padding-top: 31.3%;
    display: block;
    content: '';
  }
  img {
    max-height: 600px;
    max-width: 1920px;
    width: 100%;
    object-fit: cover;
    position: fixed;
    height: 100%;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 700;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 9px #000;
    text-transform: uppercase;
    text-align: center;
  }
}

.mm-listview {
  li.lang-item {
    @include breakpoint(_1200) {
      display: inline-block;
      &::after {
        border-bottom: 0;
      }
    }
  }
}