@import "global/variables"; 
@import "global/mixins"; 

@import "global/global";

@import "header";
@import "footer";
@import "frontpage";
@import "pages";

@import "parts/header-slider";
@import "parts/region-slider";
@import "parts/booking-form"; 
@import "parts/booking-form_side"; 
@import "parts/apartments"; 

@import "pages/apartment-single"; 
@import "pages/aktuelnosti-single"; 
@import "pages/archive"; 
@import "pages/location"; 