.apartment-single {
  padding: 35px 0 75px;
  h1 {
    @include h-2;
    margin-bottom: 45px;
  }
  .apartment-name {
    font-size: 18px;
    font-weight: 300;
  }
  .apartment-desc {
    a {
      display: block;
      margin-top: 20px;
    }
  }
}

.section-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.apartmenHolder {
  .gallery-top {
    height: 100vh;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-thumbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}