.apartment-single {
    padding: 35px 0 75px;
    h1 {
        @include h-2;
    }
    .apartment-name {
        font-size: 18px;
        font-weight: 300;
    }
    .apartment-desc {
        a {
            display: block;
            margin-top: 20px; 
        }
    }
}

.apartment-table {
    display: table;
    width: 100%;
    .table-row {
        display: table-row;
        &:nth-child(odd) {
            background: #ddd;
        }
        div {
            display: table-cell;
            vertical-align: middle;
            font-weight: 300;
            padding: 4px 7px;
            &:last-child {
                font-weight: 700;
                text-align: right;
            }
        }
    }
}