.apartmentNameHolder {
  position: absolute;
  bottom: 110px;
  width: 100%;
  z-index: 50;
  color: #fff;
  h1 {
    @include h-2;
    text-transform: uppercase;
    text-shadow: 5px 3px 5px #000;
  }
  .apartment-name {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 5px 3px 5px #000;
  }
}

.apartment-single {
  padding: 35px 0 75px;

  .apartment-desc {
    a {
      display: block;
      margin-top: 20px;
    }
  }
  ul.tabs {
    font-size: 0;
    border-bottom: 1px solid #222;
    margin-bottom: 60px;
    li {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      padding: 10px 40px;
      font-size: 14px;
      color: #222;
      font-weight: 700;
      cursor: pointer;
      &.current {
        background: #222;
        color: #fff;
      }
    }
  }
  .tabs-content {
    display: none;
    &.current {
      display: block;
    }
    h3 {
      margin-bottom: 20px;
    }
  }

  .accordion-spec {
    display: block;
    margin-bottom: 15px;
  }
  .apartment-description {
    margin-bottom: 15px;
  }
}

.Wizzard {
  &__Nav {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid #ccc;
    li {
      flex-grow: 1;
      height: 55px;
      line-height: 57px;
      a {

      }
    }
  }
}

.section-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 55px;
}

.apartmenHolder {
  .gallery-top {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-thumbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}

.apartment-single {
  .wpcf7 {

  }
}