.apartmenHolder {
  height: 100%;
}

.apartmentNameHolder {
  position: absolute;
  bottom: 110px;
  width: 100%;
  z-index: 50;
  color: #fff;
  h1 {
    @include h-2;
    text-transform: uppercase;
    text-shadow: 5px 3px 5px #000;
  }
  .apartment-name {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 5px 3px 5px #000;
  }
}

.apartment-single {
  padding: 35px 0 75px;
  .apartment-desc {
    a {
      display: block;
      margin-top: 20px;
    }
  }
  ul.tabs {
    font-size: 0;
    border-bottom: 1px solid #222;
    margin-bottom: 60px;
    li {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      padding: 10px 40px;
      font-size: 14px;
      color: #222;
      font-weight: 700;
      cursor: pointer;
      &.current {
        background: #222;
        color: #fff;
      }
    }
  }
  .tabs-content {
    display: none;
    &.current {
      display: block;
    }
    h3 {
      margin-bottom: 20px;
    }
  }
  .accordion-spec {
    display: block;
    margin-bottom: 15px;
  }
  .apartment-description {
    margin-bottom: 15px;
  }
  .pricesBoxHolder {
    margin-left: 0;
  }
  .singlePriceBox {
    padding: 7px;
  }
}

.Wizzard {
  &__Nav {
    display: flex;
    flex-wrap: wrap;
    li {
      flex-grow: 1;
      a {
        position: relative;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        background: #ddd;
        display: block;
        height: 60px;
        line-height: 40px;
        text-align: center;
        &:before,
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          left: 100%;
          position: absolute;
          top: 50%;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          margin-top: -30px;
        }
      }
      &.active {
        a {
          background: #24aae1;
          color: #fff;
          &:before {
            border-left: 20px solid #24aae1;
            margin-left: 0;
            z-index: 1;
          }
        }
      }
      &:last-child.active {
        a:before,
        a:after {
          display: none;
        }
      }
    }
  }
}

.section-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 55px;
}

.apartmenHolder {
  .gallery-top {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-thumbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}

.Contact__Description,
.tabDescription {
  margin-bottom: 20px;
  font-size: 16px;
}

.tabCaptionHolder {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin: 40px 0;
}

.tabButtonHolder {
  color: #fff;
  background: rgb(36, 170, 225);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border: none;
  padding: 7px 100px;
  display: inline-block;
  margin-bottom: 30px;
}

// tab Kontakt
.apartment-single {
  .wpcf7 {
    p {
      background: #ddd;
      padding: 0 20px;
      &:nth-child(odd) {
        background: #ccc;
      }
    }
    label {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
    }
    span {
      font-size: 14px;
      font-weight: 500;
    }
    span {
      input,
      textarea {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    input {
      padding: 0px 7px;
    }
    textarea {
      resize: none;
      padding: 5px 7px;
    }
    input[type=submit] {
      color: #fff;
      background: rgb(36, 170, 225);
      padding: 7px 100px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      border: none;
    }
  }
}

#wpcf7-f520-p49-o1 > form > p:nth-child(6) {
  background: none;
  padding: 0;
}

form {
  p {
    label {
      span:first-child {
        margin: 5px 0;
        width: 30%;
      }
      span:last-child {
        width: 100%;
      }
    }
  }
}

//tab Lokacija
#tab-2 {
  iframe {
    width: 100%;
  }
}

// tab Utisci
#tab-3 {
  .tabCaptionHolder {
    text-transform: none;
  }
}

.commentHolder {
  padding: 25px;
  margin-top: 20px;
  background: #fff;
  .commentLeftHolder {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 60px 5px;
    &::after {
      content: '';
      height: 100%;
      width: 1px;
      position: absolute;
      right: 15px;
      top: 10px;
      background: rgba(221, 221, 221, 0.3)
    }
    p {
      font-weight: bold;
      font-size: 20px;
    }
    span {
      font-size: 16px;
    }
    .commentFlagHolder,
    .commentNameHolder {
      margin-bottom: 10px;
    }
  }
  .commentMainHolder {
    p {
      font-size: 16px;
    }
    p,
    h3 {
      font-style: italic;
    }
    .commentCaption,
    .commentRating {
      margin-bottom: 20px;
    }
  }
}