.apartmenHolder {
  height: 100%;
}

.apartmentNameHolder {
  position: absolute;
  bottom: 110px;
  width: 100%;
  z-index: 50;
  color: #fff;
  h1 {
    @include h-2;
    text-transform: uppercase;
    text-shadow: 5px 3px 5px #000;
  }
  .apartment-name {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 5px 3px 5px #000;
  }
}

.apartment-single {
  padding: 35px 0 75px;
  @include breakpoint(_480) {
    padding: 15px 0 30px;
  }
  .apartment-desc {
    a {
      display: block;
      margin-top: 20px;
      @include breakpoint(_480) {
        margin-top: 10px;
      }
    }
  }
  ul.tabs {
    font-size: 0;
    border-bottom: 1px solid #222;
    margin-bottom: 60px;
    @include breakpoint(_991) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      @include breakpoint(_550) {
        flex-direction: column;
        margin-bottom: 30px;
      }
    }
    li {
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      padding: 10px 40px;
      font-size: 14px;
      color: #222;
      font-weight: 700;
      cursor: pointer;
      @include breakpoint(_991) {
        flex-basis: 33%;
      }
      @include breakpoint(_480) {
        flex-basis: 100%;
        width: 100%;
      }
      &.current {
        background: #222;
        color: #fff;
      }
    }
  }
  .tabs-content {
    display: none;
    &.current {
      display: block;
    }
    h3 {
      margin-bottom: 20px;
      @include breakpoint(_550) {
        text-align: center;
        font-size: 26px;
      }
    }
  }
  .accordion-spec {
    display: block;
    margin-bottom: 15px;
  }
  .apartment-description {
    margin-bottom: 15px;
  }
  .pricesBoxHolder {
    margin-left: 0;
  }
  .singlePriceBox {
    padding: 7px;
    p {
      font-size: 15px
    }
  }
}

.accordion-spec {
  @include breakpoint(_550) {
    text-align: center;
  }
}

//reservationDescription
.reservationDescription {
  margin: 30px 0;
}

.tab-1-infoHolder {
  @include breakpoint(_991) {
    margin-bottom: 30px;
  }
}

.pricesBoxCaption {
  @include breakpoint(_480) {
    margin-top: 30px;
  }
}

//Wizzard
.Wizzard {
  &__Main {
    padding: 50px 0 50px 30px;
    background: #fff;
    @include breakpoint(_768) {
      padding: 20px 10px 20px 10px;
    }
  }
  &__Nav {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(_480) {
      flex-direction: column;
    }
    li {
      flex-grow: 1;
      a {
        position: relative;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        background: #ddd;
        display: block;
        height: 60px;
        line-height: 40px;
        text-align: center;
        @include breakpoint(_480) {
          font-size: 16px;
        }
        &:before,
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          left: 100%;
          position: absolute;
          top: 50%;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          margin-top: -30px;
          @include breakpoint(_480) {
            border: none;
          }
        }
      }
      &.active {
        a {
          background: #24aae1;
          color: #fff;
          &:before {
            border-left: 20px solid #24aae1;
            margin-left: 0;
            z-index: 1;
          }
        }
      }
      &:last-child.active {
        a:before,
        a:after {
          display: none;
        }
      }
    }
  }
}

//Wizzard Footer
.Wizzard__Footer {
  background-color: #ddd;
  padding: 10px;
  display: flex;
  @include breakpoint(_600) {
    flex-direction: column;
  }
  .previous,
  .next {
    color: #fff;
    text-transform: uppercase;
    padding: 7px 60px;
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    @include breakpoint(_600) {
      width: 100%;
      text-align: center;
      font-size: 16px;
      &:first-of-type {
        margin-bottom: 10px;
      }
    }
  }
  .next {
    margin-left: auto;
    background: #24aae1;
  }
  .previous {
    margin-right: auto;
    background: #a2a2a2;
  }
}

#three-calendars {
  margin: 30px 0;
}

// Prices Table
.pricesTable {
  margin-bottom: 30px;
  width: 100%;
  tbody {
    width: 100%;
  }
  th {
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
    padding: 8px 5px;
  }
  tr {
    background: #ddd;
    &:nth-child(odd) {
      background: #fff;
    }
  }
  td {
    padding: 8px 10px;
  }
  .activeRow {
    background: #222;
    color: #fff;
  }
}

//Wizzard single Box
.wizzardSingleBox {
  margin-top: 60px;
  @include breakpoint(_480) {
    margin-top: 30px;
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.withInput,
.infoBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.withInput {
  background: #ddd;
  input[type=text],
  input[type=number] {
    width: 15%;
  }
  p {
    margin-right: 15px;
  }
  select {
    width: 50%;
    font-weight: bold;
  }
}

.withInput,
.statusMessage {
  padding: 10px 20px;
}

.statusMessage {
  color: #fff;
  font-weight: bold;
}

.otherOption {
  background: #ccc;
  p {
    &:last-of-type {
      font-weight: bold;
    }
  }
}

#input_first_name,
#input_last_name,
#input_phone,
#input_email,
#input_address,
#input_city {
  @include breakpoint(_480) {
    width: 200px;
  }
}

//checkbox
.checkBox {
  margin: 20px 0;
  span {
    padding-left: 10px;
    a {
      text-decoration: underline;
      color: #24aae1;
    }
  }
}

//Side Box
.sideBoxInfo {
  padding: 20px;
  background: #ddd;
  @media (min-width: 600px) and (max-width: 1200px) {
    width: 415px;
    margin: 20px auto 0 auto;
  }
  @include breakpoint(_480) {
    margin-top: 20px;
  }
  .sideBoxCaption {
    color: #24aae1;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .secondStep {
    .sideBoxRow {
      &:last-of-type {
        margin-top: 30px;
      }
    }
  }
  .total {
    color: #24aae1;
  }
  .sideBoxRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

//
.step-3InfoHolder {
  margin-bottom: 30px;
}

.reservationSummary {
  padding: 10px;
  display: flex;
  flex-direction: column;
  .category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 16px;
      padding: 5px 0;
      &:last-of-type {
        font-weight: bold;
      }
    }
  }
}

.section-name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 55px;
  @include breakpoint(_550) {
    margin-top: 20px;
    text-align: center;
  }
}

.apartmenHolder {
  .gallery-top {
    height: 100%;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .gallery-thumbs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 100px;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}

.Contact__Description,
.tabDescription {
  margin-bottom: 20px;
  font-size: 16px;
}

.tabCaptionHolder {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin: 40px 0;
}

.tabButtonHolder {
  margin-bottom: 30px;
  a {
    color: #fff;
    background: rgb(36, 170, 225);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border: none;
    padding: 7px 100px;
    @include breakpoint(_480) {
      font-size: 16px;
    }
  }
}

// tab Kontakt
.apartment-single {
  .wpcf7 {
    br {
      display: none;
    }
    p {
      background: #ddd;
      padding: 0 20px;
      @include breakpoint(_991) {
        padding: 0 10px;
      }
      &:nth-child(odd) {
        background: #ccc;
      }
      &:last-of-type {
        padding: 0;
      }
    }
    label {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      width: 100%;
    }
    span {
      font-size: 14px;
      font-weight: 500;
    }
    span {
      input,
      textarea {
        width: 100%;
        height: 100%;
        border: none;
      }
    }
    input {
      padding: 0px 7px;
    }
    textarea {
      resize: none;
      padding: 5px 7px;
    }
    input[type=submit] {
      color: #fff;
      background: rgb(36, 170, 225);
      padding: 7px 100px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      border: none;
      @include breakpoint(_480) {
        font-size: 16px;
        display: block;
        width: 100%;
      }
    }
  }
}

#wpcf7-f520-p49-o1>form>p:nth-child(6) {
  background: none;
  padding: 0;
}

form {
  p {
    label {
      span:first-child {
        margin: 5px 0;
        width: 30%;
      }
      span:last-child {
        width: 100%;
      }
    }
  }
}

//tab Informacije
#tab-1 {
  h3 {
    @include breakpoint(_550) {
      text-align: center;
    }
  }
  #tab-1-table,
  #tab-1-prices {
    @include breakpoint(_550) {
      width: 100%;
    }
  }
  .apartment-table {
    margin-bottom: 20px;
  }
  .pricesBoxButtonHolder {
    @include breakpoint(_550) {
      width: 75%;
      font-size: 16px;
      margin: 10px auto 0 auto;
    }
  }
}

//tab Lokacija
#tab-2 {
  iframe {
    width: 100%;
  }
}

// tab Utisci
#tab-3 {
  .tabCaptionHolder {
    text-transform: none;
    @include breakpoint(_550) {
      margin: 20px 0;
    }
  }
  .tabButtonHolder {
    @include breakpoint(_550) {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.commentHolder {
  padding: 25px;
  margin-top: 20px;
  background: #fff;
  .commentLeftHolder {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 60px 5px;
    @include breakpoint(_991) {
      padding-bottom: 15px;
    }
    &::after {
      content: '';
      height: 100%;
      width: 1px;
      position: absolute;
      right: 15px;
      top: 10px;
      background: rgba(221, 221, 221, 0.3)
    }
    p {
      font-weight: bold;
      font-size: 20px;
    }
    span {
      font-size: 16px;
    }
    .commentFlagHolder,
    .commentNameHolder {
      margin-bottom: 10px;
      @include breakpoint(_991) {
        margin-bottom: 5px;
      }
    }
  }
  .commentMainHolder {
    p {
      font-size: 16px;
      @include breakpoint(_480) {
        font-size: 14px
      }
    }
    p,
    h3 {
      font-style: italic;
    }
    h3 {
      @include breakpoint(_991) {
        margin-bottom: 10px;
      }
      @include breakpoint(_480) {
        font-size: 26px;
        text-align: left;
      }
    }
    .commentCaption,
    .commentRating {
      margin-bottom: 20px;
      @include breakpoint(_991) {
        margin-bottom: 10px;
      }
    }
  }
}

#three-calendars {
  .pickmeup {
    background: #AAAAAA;
    @include breakpoint(_680) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center
    }
    .pmu-instance nav {
      background: #9D9D9D;
    }
    .pmu-button {
      background: #EFEFEF;
      color: #000;
      &.pmu-prev {
        position: relative;
        img {
          display: none !important;
        }
        &:after {
          content: '\25C0';
        }
      }
      &.pmu-next {
        img {
          display: none !important;
        }
        &:after {
          content: '\0025B6';
        }
      }
      &.pmu-not-in-month {
        color: #ccc;
      }
    }
    .pmu-day-of-week {
      color: #000;
      font-weight: 700;
    }
  }
}