
.single-post {
    margin-bottom: 75px;
    .archive-content {
        h2 {
            @include h-3;
            line-height: 1.1;
            margin-top: 13px;
            margin-bottom: 25px;
        }
        div {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 1.4; 
        }
    } 
}