.apartments-section {
  text-align: center;
  padding: 50px 0 20px;
  background: #eee;
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.apartments-box {
  text-align: left;
  transition: all 0.2s linear;
  margin-bottom: 70px;
  display: flex;
  height: 327px;
  &_img {
    overflow: hidden;
    position: relative;
    height: 327px!important;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      height: 327px!important;
    }
  }
  &__content {
    &_name {
      font-size: 18px;
      font-weight: 300;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
    &_specification {
      font-size: 12px;
      font-weight: 700;
      p {
        font-weight: 300;
      }
    }
    &_links {
      margin-top: 25px;
      color: #24aae1;
      a {
        margin-right: 12px;
      }
    }
  }

  .discountBanner {
    color: #fff;
    background-color: #24aae1;
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 0;
    a {
      display: inline-block;
    }
  }

  .vilaCaptionAndContent {
    h3 {
      margin-bottom: 10px;
    }
    margin-bottom: 15px;
  }
}

.pricesBoxHolder {
  background: #fff;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.singlePriceBox {
  margin: 5px;
  span {
    font-size: 20px;
    font-weight: bold;
  }
  p {
    font-size: 12px;
    font-weight: bold;
  }
}

.pricesBoxCrossed {
  span {
    text-decoration: line-through;
  }
}

.pricesBoxButtonHolder {
  margin-top: 10px;
  a {
    display: block;
    background: rgb(36, 170, 225);
    color: #fff;
    padding: 5px 0;
  }
}

