.apartments-section {
    text-align: center;
    padding: 50px 0 20px;
    background: #eee;
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
} 
.apartments-row {
    @include row;
    margin: 40px 0;
}
.apartments-box {
    @include col(1,5,0,top,false,false);
    text-align: left;
    transition: all .2s linear;
    &:hover {
        background: #fff;
    }
    &_img {
        max-height: 250px;
        overflow: hidden;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__content {
        padding: 30px 20px 25px 35px;
        &_name {
            font-size: 18px;
            font-weight: 300;
        }
        h3 {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 14px;
        }
        &_specification {
            font-size: 12px;
            font-weight: 700;
            p {
                font-weight: 300;
            }
        }
        &_links {
            margin-top: 14px;
            a {
                margin-right: 12px;
            }
        }
    }
}