.apartments-section {
  text-align: center;
  padding: 50px 0 20px;
  background: #eee;
  h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}

.apartments-box {
  text-align: left;
  transition: all 0.2s linear;
  margin-bottom: 70px;
  display: flex;
  @include breakpoint(_991) {
    margin-bottom: 30px;
  }
  &_img {
    overflow: hidden;
    position: relative;
    height: 290px;
    @include breakpoint(_480) {
      height: 250px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    &_name {
      font-size: 18px;
      font-weight: 300;
    }
    h3 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 14px;
    }
    &_specification {
      font-size: 12px;
      font-weight: 700;
      p {
        font-weight: 300;
      }
    }
    &_links {
      color: #24aae1;
      a {
        margin-right: 12px;
      }
    }
  }
  .discountBanner {
    color: #fff;
    background-color: #24aae1;
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 0;
  }
  .vilaCaptionAndContent {
    margin-bottom: 15px;
    @include breakpoint(_991) {
      margin: 20px 0;
    }
    h3 {
      margin-bottom: 10px;
    }
  }
}

.pricesBoxHolder {
  background: #fff;
  text-transform: uppercase;
  padding: 7px 10px;
  text-align: center;
  height: 192px;
  @include breakpoint(_480) {
    height: auto;
    padding: 10px;
    margin-top: 20px;
  }
  .Prices {
    > * {
      display: inline-block;
      width: 49%;
      padding: 7px;
    }
    // &--Old {
    //   //margin-bottom: 10px;
    // }
  }
  &--Gray {
    background: #222;
    color: #fff;
  }
}

.singlePriceBox {
  display: inline-block;
  width: 49%;
  padding: 5px;
  @include breakpoint(_480) {
    padding: 5px 10px
  }
  span {
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    @include breakpoint(_768) {
      font-size: 15px;
    }
    @include breakpoint(_480) {
      font-size: 18px;
    }
    @include breakpoint(_400) {
      font-size: 16px;
    }
  }
}

.pricesBoxCrossed {
  span {
    text-decoration: line-through;
    font-size: 24px;
  }
}

.pricesBoxButtonHolder {
  margin-top: 10px;
  a {
    display: block;
    background: rgb(36, 170, 225);
    color: #fff;
    padding: 6px 0;
    font-weight: bold;
    font-size: 16px
  }
  span {
    position: relative;
    display: block;
    background: #fff;
    color: #222;
    padding: 6px 0;
    font-weight: bold;
    font-size: 16px;
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: 40%;
      right: 30px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #222;
    }
  }
}

.pricesOnly {
  padding: 10px 0;
  height: 136px;
  @include breakpoint(_480) {
    height: auto;
  }
}

.apartments-box__content_links {
  margin-top: 20px;
}

.Villa.accordion {
  .MainVilla {
    cursor: pointer;
  }
}

.ApartmentsVilla {
  .apartments-box {
    .apartments-box_img {
      padding-left: 10px;
      border-left: 10px solid rgba(36, 170, 225, 0.8);
    }
    .discountBanner {
      left: 10px;
    }
  }
}

.ApartmentsVilla > *, .MainVilla {
  padding: 0 !important;
}