.booking-form {
    background: rgba(36,170,225,0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0;
    z-index: 999991;
    padding: 16px 0;
    transition: all .2s ease-in-out;
    &.fixed {
        padding: 7px 0;
    }
    &__item {
        display: inline-block;
        vertical-align: bottom;
        font-size: 14px;
        margin: 0 5px;
        label {
            display: block;
            color: #fff;
            text-align: left;
            margin-bottom: 4px;
        }
        input {
            border: none;
            height: 30px;
            line-height: 30px;
            &[type='submit'] {
                background: transparent;
                padding: 0 20px;
                border: 1px solid #fff;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                transition: all .2s ease-in-out;
            }
        }
        select {
            border: none;
            height: 30px;
            line-height: 30px;
        }
    }
}
