.booking-form {
  background: rgba(36, 170, 225, 0.8);
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
  z-index: 999991;
  padding: 30px 0;
  transition: transform .2s ease-in-out;
  @include breakpoint(_768) {
    padding: 15px 0;
  }
  // @include breakpoint(_768) {
  //   transform: translate3d(0, calc(100% - 15px), 0);
  // }
  // @include breakpoint(_560) {
  //   transform: translate3d(0, calc(100% - 15px), 0);
  // }
  &.fixed {
    padding: 7px 0;
  }
  &__item {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    margin: 0 5px;
    width: 150px;
    @include breakpoint(_991) {
      display: inline-block;
      width: 47%;
      margin: 10px;
    }
    @include breakpoint(_768) {
      display: block;
      margin: 0 auto 10px auto;
      width: 90%;
    }
    //&:last-of-type {
    //  @include breakpoint(_991) {
    //    display: block;
    //    width: 90%;
    //    margin: 0 auto;
    //  }
    //}
    //&:nth-last-child(2) {
    //  width: 190px;
    //  @include breakpoint(_991) {
    //    display: inline-block;
    //    width: 47%;
    //    margin: 10px;
    //  }
    //  @include breakpoint(_768) {
    //    display: block;
    //    margin: 0 auto 10px auto;
    //    width: 90%;
    //  }
    //}
    //&:nth-last-child(3) {
    //  width: 100px;
    //  @include breakpoint(_991) {
    //    display: inline-block;
    //    width: 47%;
    //    margin: 10px;
    //  }
    //  @include breakpoint(_768) {
    //    display: block;
    //    margin: 0 auto 10px auto;
    //    width: 90%;
    //  }
    //}

    label {
      display: block;
      color: #fff;
      text-align: left;
      margin-bottom: 4px;
    }
    input {
      width: 100%;
      border: none;
      height: 30px;
      line-height: 30px;
      border-radius: 0;
      padding-left: 28px;
      @include breakpoint(_991) {
        width: 100%;
      }
      &[type='submit'] {
        background: transparent;
        padding: 0 20px;
        border: 1px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        transition: all .2s ease-in-out;
        @include breakpoint(_991) {
          margin-top: 15px;
        }
      }
    }
    //select {
    //  border: none;
    //  height: 30px;
    //  line-height: 30px;
    //}
    .bootstrap-datetimepicker-widget {
      width: 210px;
      position: absolute;
      bottom: 30px !important;
    }
  }
}

.booking-box .datepicker-holder .bootstrap-datetimepicker-widget {
  position: absolute;
  top: 30px !important;
  bottom: auto !important;
  left: 0;
  right: auto;
  z-index: 200;
  width: 100%;
}

.select2-container {
  width: 100% !important;
  z-index: 999992;
}

.select2-selection__rendered {
  position: relative;
  text-align: left;
}

.booking-form__item.personsCount {
  .select2-selection__rendered {
    padding-left: 24px;
  }
}

.select2-container .select2-selection--single {
  height: 30px;
}

%form-icon {
  font-family: 'FontAwesome', sans-serif;
  font-size: 16px;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translate(0, -50%);
}

// #select2-count_nights-container:before {
//   content: '\f186';
//   @extend %form-icon;
// }

#select2-count_persons-container:before {
  content: '\f183';
  @extend %form-icon;
}

#select2-special_requests-container:before {
  content: '\f006';
  @extend %form-icon;
}

#select2-special_requests-container {
  padding-left: 30px !important;
}

.datepicker.date-icon:before {
  content: '\f133';
}

.form-item input[type='text'] {
  height: 30px;
  line-height: 30px;
  border: none;
  width: 100%;
  border-radius: 0;
  padding-left: 27px;
  position: relative;
}

.datepicker-holder {
  position: relative;
  i.fa.fa-calendar-o {
    position: absolute;
    left: 5px;
    z-index: 20;
    font-size: 16px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

//.Booking {
//  h3 {
//    border-bottom: 1px solid $main-text-color;
//    padding-bottom: 2px;
//    margin-bottom: 10px;
//  }
//  form {
//    margin-top: 40px;
//  }
//  &__Input {
//    margin-bottom: 12px;
//    p {
//      display: inline-block;
//      vertical-align: middle;
//      min-width: 65px;
//    }
//    input:not([type='submit']) {
//      display: inline-block;
//      vertical-align: middle;
//      border: none;
//      background: #fff;
//      height: 32px;
//      line-height: 30px;
//      width: 30%;
//      padding: 7px 7px 7px 10px;
//      transition: all .2s ease-in-out;
//      &:hover {
//        box-shadow: 2px 2px 2px #aaa;
//      }
//      &:focus {
//        box-shadow: 2px 2px 8px #aaa;
//      }
//    }
//    &_Select {
//      display: inline-block;
//      vertical-align: middle;
//      width: 38%;
//      .select2-selection__rendered {
//        padding-left: 10px !important;
//      }
//      .select2-container {
//        &:hover {
//          box-shadow: 2px 2px 2px #aaa;
//        }
//        &.select2-container--open {
//          box-shadow: 2px 2px 8px #aaa;
//        }
//      }
//    }
//    &.Promo {
//      p {
//        min-width: 100px;
//      }
//      input {
//        width: 15%;
//      }
//    }
//    &.Submit {
//      input {
//        width: 20%;
//        margin-top: 20px;
//        border: 0;
//        padding: 7px;
//        background: #333;
//        color: #fff;
//        font-weight: bold;
//        text-align: center;
//        text-transform: uppercase;
//        font-size: 16px;
//      }
//    }
//    &.Back-btn {
//      margin-top: 35px;
//      a {
//        display: block;
//        &:hover {
//          text-decoration: none;
//        }
//      }
//      i,
//      span {
//        display: inline-block;
//        vertical-align: middle;
//      }
//      span {
//        font-size: 21px;
//        margin-left: 5px;
//      }
//    }
//  }
//}

.bookingFormCaptionHolder {
  color: #fff;
  font-size: 32px;
  margin-bottom: 35px;
  font-weight: bold;
  @include breakpoint(_768) {
    margin-bottom: 20px;
  }
}