@mixin layout($items_per_row, $height) {
  width: calc(1 / #{$items_per_row} * 100%);
  height: $height;
  line-height: $height;
}

//Calendar Header Nav
.pickmeup {
  .pmu-instance {
    nav {
      position: relative;
      background: #9D9D9D;
      .pmu-button {
        background: #EFEFEF;
        color: #000;
        &.pmu-month {
          width: 100%;
        }
        &.pmu-prev, &.pmu-next {
          position: absolute;
          height: 100%;
          width: 1em;
          img {
            display: none !important;
          }
        }
        &.pmu-prev {
          left: 0;
          &:after {
            content: '\25C0';
          }
        }
        &.pmu-next {
          right: 0;
          &:after {
            content: '\0025B6';
          }
        }

      }
    }
  }
}

//Calendar Body Layout
.pickmeup {
  display: flex;
  justify-content: center;
  background: none;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
  z-index: 700;
  .pmu-instance {
    width: 19em;
    margin: 0 10px;
    height: auto;
    padding: 0;
    > div {
      display: flex;
      flex-wrap: wrap;
    }
    //Days Of the Week
    .pmu-day-of-week * {
      @include layout(7, 38px);
      font-weight: 700;
      color: #000;
    }
    //Days Layout
    .pmu-days .pmu-button {
      @include layout(7, 38px);
    }
    //Months Layout
    .pmu-months .pmu-button {
      @include layout(4, 70px);
    }
    //Months Layout
    .pmu-years .pmu-button {
      @include layout(4, 70px);
    }
  }
}

//Calendar Body Style
.pickmeup .pmu-instance {
  .pmu-button {
    background: #EDEEEF;
    color: #000;
  }
  // YEARS // Months
  .pmu-years, .pmu-months {
    .pmu-button:not(.pmu-disabled):hover {
      background: #23aae1;
      color: #000;
    }
  }
  // Days
  .pmu-days {
    .pmu-button {
      &:not(.pmu-disabled):hover {
        background: #23aae1;
        color: #000;
      }
      //Not in month
      &.pmu-not-in-month {
        color: #ccc;
        &.pmu-selected {
          background: #EFEFEF;
        }
        &.pmu-today {
          border: none
        }

      }
      //Today
      &.pmu-today {
        border: 5px solid #17384d;
        line-height: 28px;
      }
      //Selected
      &.pmu-selected {
        background: #36e246;
      }
      //Reserved
      &.date-reserved.pmu-disabled {
        background: #FCEFC1;
      }
      //Occupied
      &.date-occupied {
        background: #FCBFC2;
      }
      //Unavailable
      &.pmu-disabled, &.date-unavailable {
        background: #A9AAAB;
      }
    }
  }
}

.af-booking-legend {
  margin-bottom: 20px;
  padding: 4px 12px;
  font-size: 12px;
  display: inline-block;
  &.available {
    background: #EFEFEF;
    color: #000;
  }
  &.unavailable {
    background: #A9AAAB;
  }
  &.reserved {
    background: #FCEFC1;
  }
  &.occupied {
    background: #FCBFC2;
  }
}

.pickmeup:not(.pmu-view-days) .pmu-day-of-week,
.pickmeup:not(.pmu-view-days) .pmu-days,
.pickmeup:not(.pmu-view-months) .pmu-months,
.pickmeup:not(.pmu-view-years) .pmu-years {
  display: none;
}