.hero-holder {
  height: 700px;
  @include breakpoint(_768) {
    height: 600px;
  }
  @include breakpoint(_600) {
    height: 500px;
  }
  @include breakpoint(_480) {
    height: 470px;
  }
  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    z-index: 600;
    text-align: center;
    margin-top: 40px;
    @include breakpoint(_480) {
      width: 95%;
    }
    &_logo {
      margin-bottom: 40px;
      @include breakpoint(_991) {
        height: 200px;
      }
      img {
        height: 100%;
        object-fit: contain;
      }
    }
    &_text {
      h1 {
        font-size: 24px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        @include breakpoint(_1200) {
          font-size: 22px;
        }
        @include breakpoint(_768) {
          font-size: 20px;
        }
        @include breakpoint(_480) {
          font-size: 18px;
        }
      }
      .more-info {
        display: inline-block;
        margin-top: 20px;
        border: 1px solid #fff;
        padding: 8px 13px 6px;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        box-shadow: 0 2px 19px -1px #000;
        text-shadow: 1px 2px 2px #000;
        transition: all .2s ease-in-out;
        &:hover {
          text-decoration: none;
          background: #fff;
          color: #000;
          box-shadow: none;
          text-shadow: none;
        }
      }
    }
  }
  #scroll-btn {
    cursor: pointer;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    z-index: 8888;
    @include breakpoint(_768) {
      display: none;
    }
  }
}

#home-slider {
  width: 100%;
  height: 700px;
  max-height: 100%;
  position: fixed;
  top: 0;
  max-width: 1920px;
  @include breakpoint(_768) {
    height: 600px;
  }
  @include breakpoint(_600) {
    height: 500px;
  }
  @include breakpoint(_480) {
    height: 470px;
  }
}

.hero-holder {
  .flex-direction-nav {
    a {
      z-index: 1000;
    }
  }
}
