.hero-holder {
  height: 700px;
  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    z-index: 600;
    text-align: center;
    &_logo {
      margin-bottom: 40px;
      @include breakpoint(_991) {
        height: 200px;
      }
      img {
        height: 100%;
        object-fit: contain;
      }
    }
    &_text {
      h1 {
        font-size: 24px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
        @include breakpoint(_1200) {
          font-size: 22px;
        }
        @include breakpoint(_768) {
          font-size: 20px;
        }
        @include breakpoint(_480) {
          font-size: 18px;
        }
      }
      .more-info {
        display: inline-block;
        margin-top: 20px;
        border: 1px solid #fff;
        padding: 8px 13px 6px;
        color: #fff;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        transition: all .2s ease-in-out;
        &:hover {
          text-decoration: none;
          background: #fff;
          color: #000;
        }
      }
    }
  }
  #scroll-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 97px;
    display: block;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #fff;
    z-index: 8888;
    @include breakpoint(_740) {
      display: none;
    }
  }
}

#home-slider {
  width: 100%;
  height: 700px;
  max-height: 100%;
  position: fixed;
  top: 0;
  max-width: 1920px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    @include breakpoint(_768) {
      display: none;
    }
  }
}

//#apartman-slider {
//  .rsOverflow {
//    height: 100vh !important;
//  }
//  .rsNav {
//    // height: 76px; - po dizajnu
//    height: auto;
//    background: none;
//    position: absolute;
//    bottom: 30px;
//    .rsThumbsContainer {
//      float: left;
//      transform: none !important;
//      width: 850px
//    }
//    .rsThumb {
//      width: 78px;
//      //  height: 76px; po dizajnu
//      height: auto;
//      background: none;
//      img {
//        opacity: .7;
//        filter: alpha(opacity=30);
//      }
//      &.rsNavSelected {
//        background: none;
//        img {
//          opacity: 1;
//          filter: alpha(opacity=100);
//        }
//      }
//    }
//  }
//}
