.GallerySection {
  padding-top: 70px;
  h3 {
    margin-bottom: 30px;
  }
  .GallerySlider {
    margin-bottom: 110px;
    height: 680px;
    @include breakpoint(_991) {
      height: 540px;
    }
    @include breakpoint(_768) {
      height: 440px;
    }
    @include breakpoint(_600) {
      height: 390px;
    }
    @include breakpoint(_480) {
      height: 280px;
    }
  }
}
