//.region-holder {
//  width: 100%;
//  &#region-slider {
//    position: relative;
//    height: 550px;
//    .front-part {
//      top: 50%;
//      transform: translate(0, -50%);
//      width: 100%;
//      padding: 20px 0;
//    }
//  }
//  &.with-bkg {
//    .front-part {
//      color: #fff;
//    }
//  }
//  .front-part {
//    position: relative;
//    z-index: 10;
//    color: #000;
//    padding: 20px 0;
//    @include breakpoint(_991) {
//      text-align: center;
//      img {
//        max-width: 220px;
//      }
//    }
//    h2 {
//      margin-bottom: 20px;
//    }
//    .thumbs-holder {
//      margin: 20px 0;
//      a {
//        display: inline-block;
//      }
//    }
//  }
//  .img-holder {
//    position: absolute;
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    z-index: 1;
//    img {
//      height: 100%;
//      width: 100%;
//      object-fit: cover;
//    }
//  }
//  .gradient {
//    position: absolute;
//    left: 0;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    background: rgba(0, 0, 0, 0.8);
//    z-index: 2;
//  }
//}