html {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: $main-text-color;
  background: #eee;
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.error404.container {
  padding: 60px 15px;
}

a:hover {
  text-decoration: none;
}

h1 {
  @include h-1;
  @include breakpoint(_480) {
    font-size: 46px;
  }
}

h2 {
  @include h-2;
}

h3 {
  @include h-3;
}

h4 {
  @include h-4;
}

main {
  position: relative;
  background-color: #eee;
  z-index: 50;
  box-shadow: 0 -5px 25px -5px #000000;
}

.text-white {
  color: #fff;
}

.link {
  position: relative;
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 12px;
  color: #24aae1;
  &.black {
    color: #000;
    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: #000;
      font-size: 12px;
    }
  }
  &.white {
    color: #fff;
    &:hover,
    &:visited,
    &:active,
    &:focus {
      color: #fff;
      font-size: 12px;
    }
  }
  &:before {
    content: '>';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 11px;
  }
  &:hover,
  &:visited,
  &:active {
    font-size: 12px;
    color: #24aae1;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.p-100-0 {
  position: relative;
  padding: 100px 0;
  @include breakpoint(_800) {
    padding: 50px 0;
    margin: 0 auto;
  }
  @include breakpoint(_480) {
    padding: 30px 0;
    margin: 0 auto;
  }
  h2 {
    @include breakpoint(_800) {
      padding: 10px 0;
    }
  }
}

.datepicker-holder {
  .datepicker-dropdown {
    position: absolute;
    left: -4px !important;
    top: auto !important;
    bottom: 26px;
    width: 230px;
    &:after,
    &:before {
      display: none;
    }
  }
}

.page-content {
  ul,
  ol {
    margin-left: 15px;
    padding-top: 15px;
    ul,
    ol {
      margin-left: 15px;
      padding-top: 15px;
      ul,
      ol {
        margin-left: 15px;
        padding-top: 15px;
      }
    }
  }
}

// bread crumbs
.breadcrumbs {
  margin-bottom: 50px;
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    color: #777;
    text-decoration: underline;
    padding-right: 10px;
    font: {
      size: 12px;
      style: italic;
    }
    &:after {
      content: '>';
      margin: 0 4px;
      font-size: 10px;
      position: absolute;
    }
  }
  span {
    display: inline-block;
    color: #777;
    padding-right: 10px;
    font: {
      size: 12px;
      style: italic;
    }
  }
}

.swiper-container {
  .swiper-button-next:not(.swiper-button-white) {
    font-size: 42px;
    background: none;
    color: #fff;
    &:after {
      content: '\f054';
      font-family: Fontawesome, sans-serif;
    }
  }
  .swiper-button-prev:not(.swiper-button-white) {
    font-size: 42px;
    background: none;
    color: #fff;
    &:after {
      content: '\f053';
      font-family: Fontawesome, sans-serif;
    }
  }
}

//Thumbs Holder
.thumbs-holder {
  @include breakpoint(_800) {
    padding-bottom: 15px;
  }
}

//Apartment detail table
.apartment-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 15px;
  .table-row {
    display: flex;
    justify-content: space-between;
    background: #ccc;
    height: 32px;
    &:nth-child(odd) {
      background: #ddd;
    }
    div {
      font-weight: 300;
      padding: 8px 10px;
      &:last-child {
        font-weight: 700;
        text-align: right;
      }
    }
  }
}

.mt-60 {
  margin-top: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.wpcf7 {
  .ratingLabel {
    width: 23%;
  }
  .Rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 0 !important;
    margin-right: auto;
    &__Star {
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      font-size: 20px !important;
      margin: 0;
      width: auto;
      &:hover {
        cursor: pointer;
        &:before {
          content: "\f005";
        }
        color: rgb(246, 161, 5);
        ~ .Rating__Star:before {
          content: "\f005";
        }
      }
      &:before {
        content: "\f006";
        padding-right: 5px;
        color: rgb(246, 161, 5);
      }
      &.filled:before {
        content: "\f005";
        color: rgb(246, 161, 5);
      }
    }
    &.static {
      pointer-events: none;
    }
  }
}

#gallery-1 {
  margin-top: 20px;
  @include breakpoint(_480) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery-item {
    text-align: left;
    @include breakpoint(_480) {
      flex-basis: 25%;
      margin: 10px 10px 10px 0;
      max-width: 100%;
    }
  }
}

.page-content {
  h3 {
    margin-top: 20px;
  }
}

.wpcf7 {
  br {
    display: none;
  }
  p {
    background: #ddd;
    padding: 0 20px;
    @include breakpoint(_991) {
      padding: 0 10px;
    }
    &:nth-child(odd) {
      background: #ccc;
    }
  }
  label {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
  }
  span {
    font-size: 14px;
    font-weight: 500;
  }
  span {
    input,
    textarea {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  input {
    padding: 0px 7px;
  }
  textarea {
    resize: none;
    padding: 5px 7px;
  }
  input[type=submit] {
    color: #fff;
    background: rgb(36, 170, 225);
    padding: 7px 100px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    border: none;
    @include breakpoint(_480) {
      font-size: 16px;
      display: block;
      width: 100%;
    }
  }
}

.flex-direction-nav {
  a {
    height: 70px;
    margin-top: -35px;
    &:before {
      font-family: "Fontawesome", sans-serif;
      font-size: 70px;
      display: inline-block;
      content: '\f104';
      color: #fff;
      text-shadow: none;
    }
    &.flex-next:before {
      content: '\f105';
    }
  }
  .flex-prev {
    left: 20px !important;
    opacity: 1 !important;
  }
  .flex-next {
    right: 20px !important;
    opacity: 1 !important;
  }
}

.flexslider {
  width: 100%;
  height: 100%;
  .flex-viewport, .slides, .slide {
    height: 100%;
  }
  .slides {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .galleryThumbs {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    @include breakpoint(_1200) {
      display: none;
    }
    .flex-control-thumbs {
      li {
        width: 74px;
        height: 65px;
        margin-right: 10px;
      }
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

