.pagination-holder {
    margin-top: 30px;
}
.pagination,
.pagination li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination li {
    list-style: none;
}

.pagination a {
    font-weight: 400;
    font-size: 14px;
    text-decoration:none;  
    width:54px;
    height:40px;
    color: #444;
    border: 1px solid #eee;
    border-left: 0;
    transition: all .1s ease;
    background-color: #fff; 
}

.pagination li:not([class*="current"]) a:hover { 
    background: #E2E2E2;
    transition: all .1s ease;
}

.pagination li:not([class*="current"]) a:focus,
.pagination li:not([class*="current"]) a:active { 

}

.pagination li:first-of-type a {
    border-left: 1px solid #eee;
    width: 100px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.pagination li:last-of-type a {
    width: 100px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
}
.pagination li:first-of-type span,
.pagination li:last-of-type span,
.pagination li:nth-of-type(2) span,
.pagination li:nth-last-of-type(2) span { 
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {  
    display: inline-block;
    font-family: Fontawesome;  
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.pagination li:first-child a::before { content: 'Prva'; }
.pagination li:last-child a::after { content: "Poslednja"; }

.pagination li:nth-of-type(2) a::before {content:'\f104';}
.pagination li:nth-last-of-type(2) a::after { content: "\f105"; }


.pagination li.current a { 
    background: #E2E2E2;
    cursor: default;
    pointer-events: none;
}

@media only screen and ( max-width: 765px ) {  

    .pagination li {
        /* screen readers only */
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .pagination li.current,
    .pagination li:first-of-type,
    .pagination li:last-of-type,
    .pagination li:nth-of-type(2),
    .pagination li:nth-last-of-type(2) {
        position: initial;
        top: initial;
        left: initial;
    }

}

@media only screen and ( max-width: 380px ) {  
    .pagination li:first-of-type,
    .pagination li:last-of-type {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .pagination li:nth-of-type(2) a{
        border-left: 1px solid #eee;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    .pagination li:nth-last-of-type(2) a {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

